<div class="container mt-4 animated fadeIn faster">
    <div class="row">
      <div class="col">
          <h1>Hero List</h1>
          <hr>
      </div>
    </div>
    <div class="row">
      <div class="col text-right">
        <button class="btn btn-primary pt-1 pb-1 pl-3 pr-3" [routerLink]="['/new-hero']" ><i class="fas fa-plus"

          ></i>  Add</button>
      </div>
    </div>

    <div class="row">
      <div class="col">
          <table class="table mt-5">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Poder</th>
                  <th scope="col">Vivo</th>
                  <th scope="col">Tools</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="alert alert-warning text-center mt-3">
            <h4 class="alert-heading">Not found</h4>
            <p>
              <i class="fa fa-exclamation fa-2x"></i>
            </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="alert alert-info text-center mt-3">
            <h4 class="alert-heading">Loading</h4>
            <p>
              <i class="fa fa-sync-alt fa-spin fa-2x"></i>
            </p>
        </div>
      </div>
    </div>
</div>


