<div class="container">

  <h1>{{title | titlecase}}</h1>
  <table class="table w-100 mt-3">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Result</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">myPromise</th>
        <td>async</td>
        <td>{{myPromise | async}}</td>
      </tr>
      <tr>
        <th scope="row">{{name}}</th>
        <td>capitalizado</td>
        <td>{{name | capitalizado:1:2:3}}</td>
      </tr>
      <tr>
        <th scope="row">password {{ password_ }}</th>
        <td>
          Active : {{ active }}
          <button
          (click)="active=!active"
          >
            {{ !active ? 'hide': 'show' }}
          </button>
        </td>
        <td>{{ password_ | password:active }}</td>
      </tr>
    </tbody>
  </table>
</div>

<hr>
<h4>Youtube <small>Video</small></h4>
<hr>
<iframe width="560" height="315" [src]="codeVideo | domseguros :'https://www.youtube.com/embed/'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>