<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor02"
    aria-controls="navbarColor02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" />
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>

<div class="container m-4 mt-5 ml-auto mr-auto">
  <div class="row">
    <div class="col">
      <h1>*ngIF</h1>
      <div class="card text-white bg-success mb-3" style="width: 100%;"
      *ngIf="isActive"
      >
        <div class="card-header">Header</div>
        <div class="card-body">
          <h4 class="card-title">Success card title</h4>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <button class="btn btn-outline-primary btn-block"
      (click)="isActive=!isActive"
      >
        {{ isActive ? "Hide" : "Show" }}
      </button>
    </div>
    <div class="col">
      <h1>*ngFor</h1>
      <ul class="list-group">
        <li *ngFor="let hero of heroes"
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          {{hero}}
        </li>
      </ul>
    </div>
  </div>
</div>
