<div class="container main-container">
  <h1>Firechat</h1>
  <div class="chat-window">
    <h1>Chat</h1>
  <hr>
  <div class="app-mensajes" id="app-messages">
    <div class="text-right" *ngFor="let chat of apichat.chats"
      [ngClass]="{'text-right': apichat.user.uid===chat.uid}"
      >
      <span class="badge  "
      [ngClass]="{'badge-primary': apichat.user.uid===chat.uid,
                  'badge-success':apichat.user.uid!==chat.uid}"
      >{{chat.author}}</span>
      <p>{{chat.message}}</p>
    </div>
  </div>
  <input type="text" name="message" [(ngModel)]="message" placeholder="Enviar mensaje"
  (keyup.enter)="sendMessage()"
  class="form-control"
  />
  </div>

</div>
