<div class="row">
  <div class="col-md-4">
    <h3>Seleccione archivos</h3>
    <div appNgDropFiles
        [files]="files"
        (mouseUp)="dropUp = $event"
        [ngClass]="{'file-over': dropUp}" class="well drop-zone">
      <h4>Arraste aquí los archivos</h4>
      <img src="assets/img/drop-images.png" alt="">
    </div>
  </div>
  <div class="col-md-8">

    <h4>Cargar archivos</h4>
    <button class="btn btn-success mr-2"
      [disabled]="files.length <= 0"
    (click)="loadImages()">Cargar a Firebase</button>
    <button class="btn btn-danger"
    [disabled]="files.length <= 0"
    (click)="clearImages()"
    >Limpiar</button>

    <table [ngStyle]="{'margin-top': '1em'}" class="table">
      <thead class="thead-light">
        <tr>
          <th>Nombre</th>
          <th>Tamaño</th>
          <th>Progreso</th>
        </tr>
      </thead>

      <tbody *ngIf="files.length">
        <tr *ngFor="let file of files">
          <td scope="row" [ngClass]="{'text-green': file.progress >= 100}">{{ file.nameFile }}</td>
          <td>{{ file.file.size / 1024 | number : '.2-2' }} KB</td>
          <td>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
                [ngStyle]="{'width': file.progress + '%'}"
              >{{ file.progress | number: '.2-2' }}%</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
